body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

.form-ingreso{
  width: 600px;
  display: block;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: #cecece 3px 3px 3px 1px;
}

.texto-enriquecido{
  margin: 0 200px;
}

.respuestas{
  margin: 20px 300px;
}

